@font-face {
  font-family: "PT Sans";
  font-styfa: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:black;
  background-color: #F2F2F2;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  box-shadow: black;
  background-color: white;
}

.page-header {
  color:black;
  background: white;
  min-height: 64px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: black;
  background-color: white;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  display:block;
  padding: 20px 16px;
}

.hero {
  background-image: url("../images/index_background.jpg");
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.advantages {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 62px;
  max-width: 230px;
}

.title-wide {
  color: white;
}

.services {
  text-align: center;
  margin-top: 64px
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-transform: uppercase;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  background-image: url(../images/subscribe_background.jpg);
}

.subscribe-title {
  margin-bottom: 20px;
}

.subscribe-description {
  color: white;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-field {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0 auto;
  max-width: 275px;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}


.hotel-search {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hotel-search-description {
  margin-bottom: 54px;
}

.footer-phone {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-transform: uppercase;
  background-color: #756157;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px 50px;
  border: none;
  display:inline-block
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.subscribe-button {
  background-color:#82B3D3;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
}

.apply-button {
  background-color: #82B3D3;
}

.hotel-card-button {
  padding: 8px;
}

.main-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto;
}

.main-advantages-title {
  padding-top: 69px
}

.description {
  font-family: "PT-Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.main-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.main-services-description {
  margin-bottom: 64px;
}

.main-filter{
  font-family: "PT-Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right:auto
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
  list-style-type: none;
  font-size: 18px;
  line-height: 23px;

}

.catalog-filter-item:nth-child(3) {
  margin-bottom:0;
}

.select-control {
  font-family: "PT-Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  height: 49px;
  width: 292px;
  border-radius: 4px;
  padding-left: 20px;
}

.catalog-view {
  margin: 0;
  display: flex;
  justify-content: space-between;
  min-width: 160px;
  margin-left:70px;
  gap: 8px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color:#000000;
  grid-column: 1/-1;
  margin: 0;
}

.hotel-description {
  color: #333333;
  grid-column: 1/2;
  margin: 0;
}

.product-card-price {
  color: #333333;
  grid-column: 2/3;
  justify-self: end;
  align-self: center;
  margin: 0;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
  margin: 0;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #82B3D3;
  text-decoration: none;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-current {
  color: black;
  background-color: #F2F2F2;
}

.pagination-else {
  color: #000000;
  background-color: unset;
}

.view-button {
  background-color: white;
  color:#000000;
  display: block;
  border: 2px solid #E5E5E5;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.reset-button {
  background-color: unset;
  margin-top: 32px;
}

.hotel-card-link {
  text-decoration: none;
}

.favorite {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 8px;
  border: none;
}

.favorite-current {
  background-color: #7DB54F;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  width: 440px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  width: 315px;
  align-items: center;
  justify-content: flex-end;
}

.welcome-picture {
  display: block;
  margin: 0 auto;
  min-height: 485px;
}

.hero-figure {
  margin: 0 auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 90px;
}

.advantages-list-item {
  display: flex;
  width: 400px;
  min-height: 385px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-wide {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #82B3D3;
  justify-content: space-between;
}

.advantages-list-item-container-wide {
  display: flex;
  width: 230px;
  height: 181px;
  color: #FFFFFF;
  flex-direction: column;
  padding: 102px 85px;
}

.advantages-list-item-container {
  display:flex;
  flex-direction:column;
}

.page-footer {
  display: flex;
  margin: 0 auto;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding-top: 40px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.footer-social-list {
  width: 142px;
  margin: 0;
  list-style: none;
  display: flex;
  padding: 0;
}

.footer-social-button {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 40px;
}

.footer-logo {
  display: block;
  height: 33px;
}

.navigation-logo {
  width: 140px;
  margin-right: 28px;
}

.catalog-filter {
  color: #FFFFFF;
  background-image: url(../images/filter_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 35px;
  padding-bottom: 70px;
  min-height: 412px;
  box-sizing: border-box;
}

.catalog-filter-form {
  display: flex;
  margin-top: 40px;
}

.catalog-filter-container {
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-group {
  min-width: 151px;
  min-height: 157px;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 140px
}

.price-filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navigation-user .navigation-link {
  padding: 22px 12px;
}

.nav-button {
  padding: 8px 34px;
  margin-left: 20px;
}

.footer-social-item {
}

.services-list {
  display: flex;
  width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 385px;
  box-sizing: border-box;
  padding: 80px 20px 40px;
}

.services-list-item:nth-child(2) {
  background-color: white;
}

.sorting {
  display: flex;
  margin-bottom: 40px;
  margin-top: 50px;
  padding: 0 70px;
  align-items: center;
  justify-content: flex-end;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 80px;
  list-style: none;
  width: 1060px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px min-content min-content auto auto;
  row-gap: 16px;
  column-gap: 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.star-rating {
  margin: 0;
  align-self: center;
  box-sizing: border-box;
}

.pagination {
  display:flex;
  list-style: none;
  width: 1060px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 60px;
}

.catalog-subscribe {
  align-items: center;
  padding-top: 96px;
  padding-bottom: 104px;
  gap: 10px;
  text-align: center;
}

.catalog-subscribe-description {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.breadcrumbs-item {
  margin-right: 28px;
}
